body{
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    height: 14.4rem;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: left;
    
    margin-left: 1rem;
}

.heading{
    /* font-family: 'Bowlby One', cursive; */
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: -1rem;
}
.sub-head{
    /* font-family: 'Bowlby One', cursive; */
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: -69rem;
}
.news{
    margin-bottom: 3.2rem;
    /* margin-left: 1rem; */

}

.image{
    height: 12rem;
    width: auto;
    border-radius: 4px;
    margin-left: 1rem;
    margin-top: 1.2rem;
}
button{
    cursor: pointer;
    color: #fff;
    background-color: #1e1e1e;
    height: 2.8rem;
    width: 7.2rem;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
}

.link{
    font-size: 1.2rem;
    display: flex;
    color: #c9c9c9;
    margin-left: 1rem;
}

.head-link{
    color: #fff;
    text-decoration: none;
}

p{
    line-height: -12rem;
}

.arrow{
    height: 1.5rem;
    width: auto;
}

.author{
    /* font-style: italic; */
    font-weight: 700;
    color: #a3a3a3;
    margin-bottom: -0.8rem;
    margin-left: 1rem;
}

.title{
    font-size: 1.3rem;
    margin-bottom: 0rem;
    margin-left: 1rem;
    width: 48rem;
}

.image-align{
    margin-right: 1rem;
}

.alignment{
    display: flex;
}

.time{
 /* margin-top: 1rem; */
    margin-bottom: -0.8rem;
    font-weight: 700;
    color: #dedede;
    margin-left: 1rem;
}

.content-align{
    width: 26rem;
    margin-top: 0rem;
}

.desc{
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 1rem;
}

.source{
    font-weight: 700;
    color: #a3a3a3;
    margin-left: 1rem;
    margin-bottom: -0.1rem;
}

/* .content{
    margin-left: 1rem;
} */

.nav-bg{
    height: 3.6rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: -0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #1e1e1e;
}

.src-link{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
}
